@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes rotateLeftRight {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(720deg);
  }
}

.rotate-axis {
  animation: rotateLeftRight 10s linear infinite;
}